{% extends 'base.html.twig' %}

{% block title %}Ajout d'une voiture{% endblock %}

{% block monTitre %}Ajout d'une voiture{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('admin_afficherVoitures') }}" class="btn btn-primary">Retour</a>
        <input type="submit" value="Valider" class="btn btn-success">
    {{ form_end(form) }}

{% endblock %}